.pull-quote-editor {
	padding: 0 3em;
}
.pull-quote-editor::before {
	content: "“";
	position: static;
	display: inline;
	font-size: 5em;
}
.pull-quote-editor::after {
	content: "”";
	position: static;
	display: inline;
	font-size: 5em;
}
.object .pull-quote-editor textarea {
	padding-top: 0px;
	padding-bottom: 0px;
}
