<!doctype html>
{% load static wagtailuserbar wagtailcore_tags %}
<html>
<head>
<title>
    {% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% block title_postfix %} | Sir Trevor + Wagtail{% endblock %}
    {% endblock%}
</title>

<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:700,300'>
<link rel="stylesheet" href="{% static 'css/app.css' %}">

<body>
{% wagtailuserbar %}

<header>
{% block header %}
    <h1>Sir Trevor + Wagtail</h1>
{% endblock %}
</header>

<main>
{% block content %}{% endblock %}
</main>

<footer>
{% block footer %}{% endblock %}
</footer>

<script src="{% static 'js/app.js' %}"></script>
</body>
</html>
